<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/proeyctos.css">
    <title>Listado de proyectos </title>
</head>
<header>
    
        <button type="button">Listar proyectos</button>
        <button type="button">Filtrar por empresas</button>
        <button type="button">Filtrar por proyecto</button>
        <button type="button">Filtrar por tipo</button>
    </header>
    <main>

    </main>
<body>
<script type="module" src="../../js/validator.js"></script>
</body>
</html>